[submodule "src/jolib"]
	path = src/jolib
	url = git@github.com:poucz/jolib.git
[submodule "src/pico-onewire"]
	path = src/pico-onewire
	url = git@github.com:poucz/pico-onewire.git
[submodule "pico-onewire"]
	url = git@github.com:poucz/pico-onewire.git
